body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form, .sign-in-form, .chat-room-list, .create-chat-room-form, .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, button, textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.chat-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
}

.chat-header h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: yellow;
}

.logout-btn, .return-btn {
    position: absolute;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.return-btn {
    top: 10px;
}

.logout-btn {
    top: 40px; /* Adjust this value as needed */
}

.chat-box {
    flex-grow: 1;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.chat-box div {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.chat-input {
    display: flex;
    width: 100%;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
}

.chat-room-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chat-room-card h3 {
    margin: 0;
    font-size: 18px;
}

.chat-room-card p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}

.delete-room-btn {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
